<div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-2 gap-x-4 sm:gap-x-7 md:gap-x-10 lg:gap-x-2.5 gap-2.5 ">
    <label for="small-input" class="order-0 text-sm font-medium  text-white">Ваше имя
    </label>
    <label for="order-1 countries_multiple" class="text-sm font-medium  text-white">Игроки
    </label>
    <input #inpName [(ngModel)]="myName" (keydown)="inpNameEnter($event)" type="text" id=""
        placeholder="Введите имя"
        class="p-1.5 self-start order-2 sm:order-4 lg:order-2 border rounded-lg sm:text-xs   bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
    <select #selectPlayer multiple id="countries_multiple" (click)="changePlayer()" size="3"
        class=" order-3 sm:order-5 lg:order-3 overflow-auto  border0 text-xs rounded-lg bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
        <option *ngFor="let item of usersArray" [value]="item[0]">{{item[1]}} </option>
    </select>

    <button (click)="createUser()" type="button" id="name"
        class="order-4 sm:order-7 lg:order-4 text-xs font-medium text-center p-1.5 text-white bg-blue-700 rounded-lg  focus:ring-4 focus:outline-none  dark:bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
        Войти
    </button>
    <button (click)="invatePlayer()" id="invate" type="button"
        class="order-5 sm:order-8 lg:order-5 text-xs font-medium text-center p-1.5 text-white rounded-lg  focus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
        Пригласить
    </button>

    <label id="lblPrint" for="small-input" class="order-6 sm:order-2 lg:order-6  text-sm font-medium  text-white">
     :{{messageTo}}
    </label>
    <p class="order-7 sm:order-3 lg:order-7 justify-self-center  text-sm font-normal text-white">
        {{timeInvite}} 
    </p>


    <input #inpMessage placeholder="Текст сообщения" type="text" id="" (keydown)="sendMessage($event)"
        class="self-start order-8 sm:order-6 lg:order-8 col-span-2 p-1.5  border  rounded-lg  sm:text-xs  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">


    <label class="order-9  text-sm font-medium  text-white">Ваш диалог
    </label>
    <button (click)="sendMsg()" id="invate" type="button"
        class="visible lg:invisible order-10  text-xs font-medium text-center p-1.5 text-white rounded-lg  focus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
        Отправить
    </button>
    <ul id="msgUl" [scrollTop]="20" 
        class="order-10 sm:order-12 h-40 sm:h-44 md:h-40 lg:h-44 xl:h-52 2xl:h-64 lg:order-10 col-span-2 overflow-auto  text-xs font-normal  border  rounded-lg bg-gray-700 border-gray-600 text-white">
        <ng-container *ngFor="let item of arrDialog">
            <li [ngClass]="{myMessageOk:true}" class="flex"
                *ngIf="socket.id===item[0].substring(0,socket.id.length) && item[3]==='2'">
                <i> {{ item[1] | uppercase }} </i> &nbsp;-&nbsp;{{item[2]}}
            </li>
            <li [class.myMessageNo]="true" *ngIf="socket.id===item[0].substring(0,socket.id.length) && item[3]==='1'">
                <i> {{ item[1] | uppercase }}</i> &nbsp;-&nbsp;{{item[2]}}
            </li>
            <li *ngIf="socket.id!==item[0].substring(0,socket.id.length)">
                <i> {{ item[1] | uppercase }} </i>&nbsp;-&nbsp;{{item[2]}}
            </li>
        </ng-container>
    </ul>

    <p class="order-12 sm:order-11 lg:order-12 col-span-2 text-xs text-white">Расставьте корабли, добавьте имя,
        пригласите в игру игрока или ждите приглашение. 
        Поворот корабля выполняется колесом мыши или кнопкой поворота.Поворот выполняется относительно выделенной части, из горизонтального
        положения в вертикальное - по часовой стрелке, наоборот - против.
    </p>
</div>

<div [hidden]="hiddenDialog" id="small-modal" tabindex="-1" 
class="fixed top-0 left-0 right-0 z-50  w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <!-- Modal content -->
        <div class="relative  rounded-lg shadow bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t border-gray-600">
                <div>
                    <h3 class="text-xl font-medium  text-white">
                        Приглашение в игру
                    </h3>
                    <p class="text-sm font-normal text-white">
                        {{timingString}}
                    </p>
                </div>
                <button (click)="dialogClose()" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="small-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-white dark:text-white">
                    {{messageDialog}}
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button id="btnOk" (click)="dialogOk()" data-modal-hide="small-modal" type="button"
                    class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Принять</button>
                <button id="btnNo" (click)="dialogNo()" data-modal-hide="small-modal" type="button"
                    class="focus:ring-4 focus:outline-none rounded-lg border text-sm font-medium px-5 py-2.5  focus:z-10 bg-gray-700 text-gray-300 border-gray-500 hover:text-white hover:bg-gray-600 focus:ring-gray-600">Отклонить</button>
            </div>
        </div>
    </div>
</div>









