<div class="flex  flex-col-reverse  md:flex-row justify-around   ">
  <div class="bg-orange-400 w-full">
    <div class="flex flex-row justify-around ">
      <div class="flex-none">
        <h4 #myNameElement id="me" class="text-teal-500 ml-3 font-normal text-xl mt-2 mb-1 text-center">Вы : </h4>
        <div id='shipsField' #square1
          class="relative grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
          <div *ngFor="let item of items"
            class=" h-5 md:h-5 lg:h-8 xl:h-10 2xl:h-11  w-5 md:w-5 lg:w-8 xl:w-10 2xl:w-11  p-3 bg-sky-500 border-yellow-400"
            [id]="'c'+item[0]+item[1]">
          </div>
        </div>
      </div>
      <div class="flex-none">
        <h4 id="enamy" class="text-teal-500 ml-3 font-normal text-xl mt-2 mb-1 text-center">Противник :
        </h4>
        <div id='battleField' #square2
          class="relative grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
          <div *ngFor="let item of items"
            class=" h-5 md:h-5 lg:h-8 xl:h-10 2xl:h-11  w-5 md:w-5 lg:w-8 xl:w-10 2xl:w-11  p-3  bg-sky-500 border-yellow-400"
            [id]="'p'+item[0]+item[1]">
          </div>
        </div>
      </div>
    </div>
    <p class=" justify-center text-3xl mt-5  text-gray-900 dark:text-white ">{{messageAction}}</p>
    <p id="timeOver" class="text-3xl mt-3 flex flex-row justify-center text-gray-900 dark:text-white"></p>
  </div>

  <div class="bg-slate-400 mx-2 md:mx-3 lg:mx-5 xl:mx-8 2xl:mx-10">
    <chat #chatTag (onMyName)="setName($event)" [chatDesc]="desk" [(play)]="play" [(onMove)]="messageAction"
      [(shot)]="canShot"></chat>
   </div>

</div>










<!-- <ng-template #Block2>
  <div class="flex flex-col justify-around gap-2 ">
    <div>
      <chat #chatTag (onMyName)="setName($event)" [(play)]="play" [(onMove)]="messageAction" [(shot)]="canShot"></chat>
    </div>
    <div>
      <div class="flex flex-row justify-center gap-5">
        <div>
          <h4 #myNameElement id="me" class="text-teal-500 font-normal text-xl mt-2 mb-1 text-center">Вы : </h4>
          <div id='shipsField' #square1
            class="relative grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
            <div *ngFor="let item of items" class=" h-12 w-12  p-3 bg-sky-500 border-yellow-400"
              [id]="'c'+item[0]+item[1]">
            </div>
          </div>
        </div>
        <div>
          <h4 id="enamy" class="text-teal-500 font-normal text-xl mt-2 mb-1 text-center">Противник :
          </h4>
          <div id='battleField' #square2
            class="relative grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
            <div *ngFor="let item of items" class=" h-12 w-12  p-3  bg-sky-500 border-yellow-400"
              [id]="'p'+item[0]+item[1]">
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row  my-3">
        <button (click)="rotate()" type="button" id="name"
          class=" text-xs ml-60 px-2 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Повернуть
        </button>

        <div class=" ml-36 flex flex-row justify-start gap-3">
          <p class=" text-xl   text-gray-900 dark:text-white ">{{messageAction}}</p>
          <p id="timeOver" class="text-xl text-gray-900 dark:text-white">5/20</p>
        </div>
      </div>

    </div>

  </div>
</ng-template> -->