<div class="mt-6 flex  flex-col-reverse lg:flex-row ">

  <div class="w-full flex flex-col gap-2 lg:gap-4 lg:max-2xl:w-9/12">

    <div class="flex flex-row  justify-evenly ">
      <div class="flex-none ">
        <h4 #myNameElement id="me" class="text-teal-500 ml-3 font-normal text-xl mt-2 mb-1  text-center">Вы : </h4>
        <div id='shipsField' #square1 class=" grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
          <div *ngFor="let item of items"
            class=" h-6 sm:h-6 md:h-8 lg:h-8 xl:h-10 2xl:h-11  w-6 sm:w-6 md:w-8 lg:w-8 xl:w-10 2xl:w-11 text-center  pt-1 sm:pt-0.5  md:pt-1 xl:pt-1.5 2xl:pt-2 bg-sky-500 "
            [id]="'c'+item[0]+item[1]">
          </div>
        </div>
      </div>
      <div class="flex-none">
        <h4 id="enamy" class="text-teal-500 ml-3 font-normal text-xl mt-2 mb-1 text-center">Противник :
          {{chatTag.enemyName}}</h4>
        <div id='battleField' #square2
          class=" grid grid-cols-10 grid-rows-10 gap-1  bg-sky-600 border-4 border-sky-800">
          <div *ngFor="let item of items"
            class=" h-6 sm:h-6 md:h-8 lg:h-8 xl:h-10 2xl:h-11  w-6 sm:w-6 md:w-8 lg:w-8 xl:w-10 2xl:w-11 text-center  pt-1 sm:pt-0.5  md:pt-1 xl:pt-1.5 2xl:pt-2  bg-sky-500"
            [id]="'p'+item[0]+item[1]">
          </div>
        </div>
      </div>

    </div>


    <div class="flex flex-row justify-center gap-4 py-2">
      <div class="visible lg:invisible">
        <button (click)="rotate()" type="button" id="name"
          class=" sm:max-2xl: p-2 text-xs font-medium text-center text-white  rounded-lg  focus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
          <img src="./assets/rotate.png" alt="">
        </button>
      </div>
      <p class="text-xl  lg:text-3xl text-white ">{{messageAction}}</p>
      <p id="timeOver" class="self-end text-lg lg:text-2xl  text-white"></p>
    </div>

  </div>

  <chat #chatTag class=" mt-2 w-full lg:w-1/4 pl-10 sm:pl-10 lg:pl-0 pr-10 sm:pr-10 lg:pr-8 xl:pr-14 2xl:pr-16"
    (onMyName)="setName($event)" [chatDesc]="desk" [(play)]="play" [(onMove)]="messageAction " [(shot)]="canShot">
  </chat>

</div>